.restaurant-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px var(--shadow);
  background-color: var(--card);
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-out, box-shadow 0.3s ease;
  animation: card-reveal 0.3s ease-out;
}

.restaurant-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-image: url("./restaurant-placeholder.webp");
  background-size: cover;
  background-position: center;
}

.restaurant-card .content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.restaurant-card h3 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

.restaurant-card .label-wrapper {
  display: flex;
  gap: 8px;
}

.restaurant-card .label {
  padding: 2px 4px;
  background-color: var(--muted);
  border-radius: 4px;
  font-size: 0.75rem;
  color: var(--muted-foreground);
  display: flex;
  gap: 4px;
  align-items: center;
}

.restaurant-card .label.highlight {
  color: var(--success);
}

.restaurant-card:focus {
  outline: 2px solid var(--primary);
}

.restaurant-card:hover {
  box-shadow: 0 4px 8px var(--shadow);
  transform: scale(1.05);
}

.restaurant-card .promotion-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 32px;
  width: 56px;
  color: var(--background);
  font-weight: 600;
  border-radius: 16px 0 16px 0;
  font-size: 0.875rem;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes card-reveal {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
