.gtab-item {
  display: inline-block;
  padding: 8px 24px;
  background-color: var(--input);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.gtab-item.gtab-item--active {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.gtab-item.gtab-item--active:hover,
.gtab-item.gtab-item--active:focus {
  background-color: var(--primary-hover);
}

.gtab-item:hover,
.gtab-item:focus {
  background-color: var(--muted);
  outline: none;
}

@media screen and (max-width: 768px) {
  .gtab-item {
    border-radius: 8px;
  }

  .gtab-item:hover {
    border: none;
  }
}
