.tab-item {
  display: inline-block;
  padding: 8px 24px;
  background-color: var(--input);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.tab-item.active {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.tab-item.active:hover,
.tab-item.active:focus {
  background-color: var(--primary-hover);
}

.tab-item:hover,
.tab-item:focus {
  background-color: var(--muted);
  outline: none;
}

@media screen and (max-width: 768px) {
  .tab-item {
    border-radius: 8px;
  }

  .tab-item:hover {
    border: none;
  }
}
