.tab-wrapper {
  overflow: auto;
  position: relative;
}

.tab-wrapper::-webkit-scrollbar {
  display: none;
}

.tab-container {
  display: inline-flex;
  align-items: center;
  border: 2px solid var(--primary);
  border-radius: 8px;
  overflow: hidden;
}

.tab-container > *:not(:last-child) {
  border-right: 2px solid var(--primary);
}

@media screen and (max-width: 768px) {
  .tab-container {
    border-radius: 0;
    border: none;
    gap: 12px;
  }

  .tab-container > *:not(:last-child) {
    border-right: none;
  }
}
