:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #f9fafb;
  --foreground: #111827;

  --primary: #fac705;
  --primary-hover: #fbbf24;
  --primary-active: #f59e0b;
  --primary-foreground: #111827;

  --success: #10b981;
  --success-hover: #0e9f6e;
  --success-active: #0c7a5c;
  --success-foreground: #ffffff;

  --warning: #f59e0b;
  --warning-hover: #d97706;
  --warning-active: #b45309;
  --warning-foreground: #ffffff;

  --danger: #ef4444;
  --danger-hover: #dc2626;
  --danger-active: #b91c1c;
  --danger-foreground: #ffffff;

  --muted: #f3f4f6;
  --muted-hover: #e5e7eb;
  --muted-active: #d1d5db;
  --muted-foreground: #6b7280;

  --border: #e5e7eb;
  --input: #ffffff;
  --card: #ffffff;
  --card-foreground: #1f2937;
  --shadow: rgba(0, 0, 0, 0.1);
}

/* ========== DARK MODE ========== */
.dark {
  --background: #111827;
  --foreground: #f9fafb;

  --primary: #fac705;
  --primary-hover: #fbbf24;
  --primary-active: #f59e0b;
  --primary-foreground: #111827;

  --success: #34d399;
  --success-hover: #10b981;
  --success-active: #0e9f6e;
  --success-foreground: #111827;

  --warning: #fbbf24;
  --warning-hover: #f59e0b;
  --warning-active: #d97706;
  --warning-foreground: #111827;

  --danger: #ef4444;
  --danger-hover: #dc2626;
  --danger-active: #b91c1c;
  --danger-foreground: #ffffff;

  --muted: #2b3a4e;
  --muted-hover: #374151;
  --muted-active: #4b5563;
  --muted-foreground: #9ca3af;

  --border: #374151;
  --input: #1f2937;
  --card: #1f2937;
  --card-foreground: #f9fafb;
  --shadow: rgba(255, 255, 255, 0.1);
}

/* ========== CSS RESET ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* ========== STYLES ========== */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
